Add completed tasks with @snippets to Snippets project in Todoist.json
{
  "createdAt": "2022-04-18T15:12:30.551Z",
  "updatedAt": "2022-05-15T23:09:51.190Z",
  "id": 1,
  "name": "Add completed tasks with @snippets to Snippets project in Todoist",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -260,
        80
      ],
      "disabled": true,
      "id": "58561f2d-9dfb-4f69-b72f-c53de6719003"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=9f23e5ee-11b7-4a9e-a976-8d9c721c7b3e",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -260,
        300
      ],
      "webhookId": "9f23e5ee-11b7-4a9e-a976-8d9c721c7b3d",
      "notesInFlow": false,
      "id": "9747c891-65f3-4ea3-ae0a-8f093c0b2745"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"user_id\"]}}",
              "value2": "={{$node[\"Set\"].json[\"user_id\"]}}"
            },
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"event_name\"]}}",
              "value2": "={{\"item:completed\"}}"
            },
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"event_data\"][\"labels\"].includes($node[\"Set\"].json[\"label_id\"])}}",
              "value2": "={{true}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        140,
        300
      ],
      "id": "642fb563-d58a-434a-8d98-c9d42e83df77"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "project": 465383373,
        "content": "={{$node[\"Webhook\"].json[\"body\"][\"event_data\"][\"content\"]}}",
        "options": {
          "description": "={{$node[\"Webhook\"].json[\"body\"][\"event_data\"][\"description\"]}}"
        }
      },
      "name": "Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 1,
      "position": [
        340,
        160
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "todoistOAuth2Api": {
          "id": "6",
          "name": "Todoist account"
        }
      },
      "id": "08e84987-0037-4524-9809-7c06963d3600"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "user_id",
              "value": 330121
            },
            {
              "name": "label_id",
              "value": 2149510547
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -60,
        300
      ],
      "id": "ea2dc21e-838a-4e35-8ae2-6027a41801bc"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Todoist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "12"
  },
  "staticData": null,
  "pinData": null,
  "tags": []
}