Archive Gmail invoices in Google Drive.json
{
  "createdAt": "2022-04-25T21:40:28.865Z",
  "updatedAt": "2023-01-17T07:04:08.000Z",
  "id": "9",
  "name": "Archive Gmail invoices in Google Drive",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        440,
        440
      ],
      "id": "0b109670-3cfa-42e1-a17c-13eeea8bc75e",
      "disabled": true
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 23,
              "minute": 59
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        440,
        640
      ],
      "id": "63e4a1a4-de91-4fb7-bb93-39afb45e6a45"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "binaryPropertyName": "attachment",
        "name": "={{$binary.attachment.fileName}}",
        "parents": [
          "={{$item(0).$node[\"SplitInBatches\"].json.folderId}}"
        ],
        "options": {}
      },
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [
        1840,
        640
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "id": "290dfc61-db09-4ef3-989c-bc1db537f5a8",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "13",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1040,
        640
      ],
      "id": "bd155d2e-a5b4-48bc-9876-b8c4f57ea93d"
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      fromQuery: \"aguasdoporto.pt@cgi.com\",\n      fileNameIncludes: \".DP.\",\n      folderId: \"1iaz3a5mRdu3MXfjs_qZ2nqBwCYKgMMOd\"\n    }\n  },\n  {\n    json: {\n      fromQuery: \"endesa.pt@cgi.com\",\n      fileNameIncludes: \".DP.\",\n      folderId: \"1A7-WIOfeTAJgJBEwaFqRPo9WoACmlpj9\"\n    }\n  },\n  {\n    json: {\n      fromQuery: \"fatura@telecom.pt\",\n      fileNameIncludes: \"FT \",\n      folderId: \"1zXfr50K8oIJKmB6xAKrU6G0gR_jBvh-L\"\n    }\n  },\n  {\n    json: {\n      fromQuery: \"contabilidade@osmope.pt\",\n      fileNameIncludes: \"Faturas\",\n      folderId: \"1hbPPVLen3GFEMZ3J6NmssIStQogT-B1v\"\n    }\n  }\n];"
      },
      "name": "MappingFunction",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        840,
        640
      ],
      "id": "4f912e30-c07a-40f1-a1d1-145e6b5b0941"
    },
    {
      "parameters": {
        "functionCode": "const data = getWorkflowStaticData(\"global\")\nconst lastExecution = new Date(2004, 3, 1)\nif (data.lastExecution) {\n  lastExecution.setTime(data.lastExecution)\n}\nreturn [\n  {\n    lastExecution: lastExecution.toISOString().split('T')[0],\n    currentExecution: new Date().getTime()\n  }\n]"
      },
      "name": "ReadLastExecution",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        640,
        640
      ],
      "id": "5279f34e-8506-43aa-8ad7-da7d73ff84c0"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "q": "=after:{{$node[\"ReadLastExecution\"].json[\"lastExecution\"]}} from:\"{{$node[\"SplitInBatches\"].json[\"fromQuery\"]}}\" filename:pdf filename:\"{{$node[\"SplitInBatches\"].json[\"fileNameIncludes\"]}}\""
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "8160f922-cf66-4669-9ca8-a7ccbdcfd2ec",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1240,
        640
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "12",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if ($(\"SplitInBatches\").context[\"noItemsLeft\"]) {\n  const data = $getWorkflowStaticData(\"global\")\n  data.lastExecution = $(\"ReadLastExecution\").first().json[\"currentExecution\"]\n}\n\nreturn $input.all()"
      },
      "id": "eddf1303-86d0-40ed-8d96-432b2a7aaf5e",
      "name": "SaveLastExecution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2040,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Reverse to process oldest first\nreturn $input.all().reverse()"
      },
      "id": "bb710aca-51b6-4c48-9d66-50df5898cef8",
      "name": "Reverse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1640,
        640
      ]
    },
    {
      "parameters": {
        "functionCode": "const fileNameIncludes = $item(0).$node[\"SplitInBatches\"].json.fileNameIncludes\nconst binary = {}\nbinary.attachment = Object.values(await getBinaryDataAsync()).find(a => a.fileName.includes(fileNameIncludes))\nawait setBinaryDataAsync(binary)\nreturn item"
      },
      "name": "SelectAttachment",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        1440,
        640
      ],
      "id": "d22072a7-0b29-4a78-abb2-02347b6cd9af"
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "ReadLastExecution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "SaveLastExecution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MappingFunction": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReadLastExecution": {
      "main": [
        [
          {
            "node": "MappingFunction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "SelectAttachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveLastExecution": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reverse": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SelectAttachment": {
      "main": [
        [
          {
            "node": "Reverse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "12"
  },
  "staticData": {
    "node:LastExecution": {
      "lastExecution": 1672012770262
    },
    "global": {
      "lastExecution": 1672272013029
    }
  },
  "pinData": {},
  "versionId": "fe775cac-9027-4e5d-a9f1-04eb1accdb45",
  "triggerCount": 1,
  "tags": []
}