Archive Spotify's Discover Weekly every week.json
{
  "createdAt": "2022-04-19T17:51:25.134Z",
  "updatedAt": "2022-05-15T23:09:06.561Z",
  "id": 4,
  "name": "Archive Spotify's Discover Weekly every week",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        460,
        100
      ],
      "disabled": true,
      "id": "1e389185-fe86-48a6-b94d-f66d88b7cc7f"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "hour": 7
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "746e1995-8e50-4940-92e8-2e359f3988bb"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "discover_weekly_id",
              "value": "37i9dQZEVXcQ7fHiNNTZTE"
            },
            {
              "name": "discover_weekly_archive_id",
              "value": "18Asd8hgFh85fNCdQ9Mb5e"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "id": "a4184e4b-21ad-4ba5-a197-eedc9cd701d0"
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getTracks",
        "id": "={{$node[\"Set\"].json[\"discover_weekly_id\"]}}",
        "returnAll": true
      },
      "name": "Spotify Read",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "10",
          "name": "Spotify account"
        }
      },
      "id": "74b62fd0-31b3-49f3-ada7-0a8a5d3b3da1"
    },
    {
      "parameters": {
        "resource": "playlist",
        "id": "={{$node[\"Set\"].json[\"discover_weekly_archive_id\"]}}",
        "trackID": "={{$node[\"Function\"].json[\"uris\"]}}",
        "additionalFields": {}
      },
      "name": "Spotify Write",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1260,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "spotifyOAuth2Api": {
          "id": "10",
          "name": "Spotify account"
        }
      },
      "id": "aca0e4b6-8ddf-4960-a0a3-8a5b8db014c8"
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    uris: items.map(i => i.json.track.uri).join(\",\")\n  }\n}]"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1060,
        300
      ],
      "id": "cfe0d71b-1969-43aa-a501-1b3d16dfa365"
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Spotify Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spotify Read": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Spotify Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "12"
  },
  "staticData": null,
  "pinData": null,
  "tags": []
}