Comment in Twist when RSS feed updates.json
{
  "id": 5,
  "name": "Comment in Twist when RSS feed updates",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        260,
        100
      ],
      "disabled": true,
      "id": "7a9c1b04-a4be-4f4f-acea-fd207e052421"
    },
    {
      "parameters": {
        "url": "https://doist.dev/rss.xml"
      },
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "id": "38b1cd34-9a4a-42f7-94cf-dc4bc7a6f05a"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 30,
              "unit": "minutes"
            },
            {}
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "id": "6beeb905-c2a6-4a37-a868-33c0f90e4d19"
    },
    {
      "parameters": {
        "functionCode": "let newItems = []\n\nconst data = getWorkflowStaticData(\"node\")\nif (data.guids) {\n  newItems = items.filter((i) => !data.guids.includes(i.guid))\n}\ndata.guids = items.map((i) => i.guid)\n\nreturn newItems"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "id": "ed1f90cd-624b-48b7-8b80-a48ff8d8f55f"
    },
    {
      "parameters": {
        "resource": "comment",
        "threadId": "3413522",
        "content": "=[{{$node[\"RSS Feed Read\"].json[\"title\"]}}]({{$node[\"RSS Feed Read\"].json[\"link\"]}}) by {{$node[\"RSS Feed Read\"].json[\"creator\"]}}",
        "additionalFields": {
          "send_as_integration": true
        }
      },
      "name": "Twist",
      "type": "n8n-nodes-base.twist",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "credentials": {
        "twistOAuth2Api": {
          "id": "11",
          "name": "Twist account"
        }
      },
      "id": "3124fd7d-521d-411a-b726-dbad9c7401de"
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Twist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-04-19T18:40:40.596Z",
  "updatedAt": "2022-05-15T23:10:31.430Z",
  "settings": {
    "errorWorkflow": "12"
  },
  "staticData": null,
  "pinData": null,
  "tags": []
}