Randomize meeting facilitator.json
{
  "id": 11,
  "name": "Randomize meeting facilitator",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        460,
        100
      ],
      "disabled": true
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "hour": 16,
              "minute": 50
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const facilitators = [\"Oleg\", \"Thomas\", \"Andrew\", \"Modasser\", \"pkoch\", \"Bidu\", \"Lucia\", \"PotHix\"]\nitems[0].json = facilitators\n  .map(value => ({ value, sort: Math.random() }))\n  .sort((a, b) => a.sort - b.sort)\n  .map(({ value }) => value)\nreturn items"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "project": 2243283280,
        "content": "🗣 Randomized meeting facilitator",
        "options": {
          "description": "={{$json.join(\", \")}}",
          "dueString": "today",
          "section": 19406458
        }
      },
      "name": "Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "credentials": {
        "todoistOAuth2Api": {
          "id": "6",
          "name": "Todoist account"
        }
      }
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Todoist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-05-09T11:38:03.808Z",
  "updatedAt": "2022-05-15T23:09:25.666Z",
  "settings": {
    "errorWorkflow": "12"
  },
  "staticData": null
}