Randomize meeting facilitator for Backend Weekly Second Shift.json
{
  "createdAt": "2022-09-23T17:10:47.320Z",
  "updatedAt": "2022-12-29T07:03:17.000Z",
  "id": 13,
  "name": "Randomize meeting facilitator for Backend Weekly Second Shift",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        460,
        100
      ],
      "id": "2ecf2872-fbce-4410-928e-76e301ea62e4",
      "disabled": true
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "hour": 13,
              "minute": 50
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "3423c78b-fda3-420b-89f4-a76e84cf6d26"
    },
    {
      "parameters": {
        "functionCode": "const facilitators = [\"Andrew\", \"Felipe\", \"Luke\", \"Willian\", \"Oleg\"]\nitems[0].json = facilitators\n  .map(value => ({ value, sort: Math.random() }))\n  .sort((a, b) => a.sort - b.sort)\n  .map(({ value }) => value)\nreturn items"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "id": "18e4f86d-cdb4-4056-8d55-b781141d2eaf"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "project": 2243283280,
        "content": "🗣 Randomized meeting facilitator",
        "options": {
          "description": "={{$json.join(\", \")}}",
          "dueString": "today",
          "section": 19406458
        }
      },
      "name": "Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "id": "58372fb4-1839-40a6-b15d-91a23854cf6b",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "6",
          "name": "Todoist account"
        }
      }
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Todoist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "12"
  },
  "staticData": null,
  "dataLoaded": true,
  "pinData": {},
  "versionId": "d2559484-2fd0-4a49-a2bf-5d6d30e1bc1b",
  "triggerCount": 1,
  "tags": []
}