Send GitHub notifications to Todoist project.json
{
  "createdAt": "2022-04-18T21:51:26.303Z",
  "updatedAt": "2023-07-09T23:35:12.000Z",
  "id": "3",
  "name": "Send GitHub notifications to Todoist project",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        440,
        300
      ],
      "typeVersion": 1,
      "id": "79afb20e-49e5-47a2-a643-b23fa04849d9"
    },
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        440,
        120
      ],
      "id": "6c5c273d-46d3-4a86-9147-20d5170b8099",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "project": "={{$node[\"Set\"].json[\"project_id\"]}}",
        "content": "=[{{$json[$position][\"subject\"][\"title\"]}}]({{$json[$position][\"subject\"][\"url\"].replace(\"api.\",\"\").replace(\"/repos\",\"\").replace(\"/pulls\", \"/pull\")}})",
        "options": {
          "description": "={{$json[$position][\"reason\"]}}"
        }
      },
      "name": "Todoist",
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 1,
      "position": [
        1440,
        100
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "id": "dc149d78-4278-4a52-b5bc-452948a82a52",
      "credentials": {
        "todoistOAuth2Api": {
          "id": "6",
          "name": "Todoist account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$item(0).json.length > 0}}",
              "value2": "={{true}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1240,
        300
      ],
      "id": "0b514fe5-073d-4848-b197-dfa635ef22b1"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "project_id",
              "value": 2290035515
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        640,
        300
      ],
      "id": "ff333814-b076-42f7-bc1c-529607f080fe"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "url": "https://api.github.com/notifications",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:99.0) Gecko/20100101 Firefox/99.0"
            }
          ]
        },
        "queryParametersUi": {
          "parameter": [
            {
              "name": "since",
              "value": "={{$node[\"@1hour ago\"].json[\"since\"]}}"
            }
          ]
        }
      },
      "name": "@Get Notifications",
      "type": "n8n-nodes-base.httpRequest",
      "maxTries": 5,
      "position": [
        1040,
        300
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "waitBetweenTries": 5000,
      "id": "b3abb418-94df-47d6-b9fc-51643944e4be",
      "credentials": {
        "oAuth2Api": {
          "id": "9",
          "name": "GitHub OAuth2 Notifications Credential"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const date = new Date(new Date().setHours(new Date().getHours() - 1)).toISOString()\nreturn [{json: {since: date}}]"
      },
      "name": "@1hour ago",
      "type": "n8n-nodes-base.function",
      "position": [
        840,
        300
      ],
      "typeVersion": 1,
      "id": "810bed37-9c19-4220-846c-9bb171c88bfb"
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Todoist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "@1hour ago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@Get Notifications": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "@1hour ago": {
      "main": [
        [
          {
            "node": "@Get Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "12"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ff02572c-df7d-4961-9f89-f075709f75f4",
  "triggerCount": 1,
  "tags": []
}